<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Jennifer R Christie</title>
  <link rel="stylesheet" href="../public/style.css">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300|Josefin+Slab" rel="stylesheet">
</head>
<body>

<header>
<ul>
  <li class="hvr-underline-from-left"><a href="/index.html">Home</a></li>
  <li class="hvr-underline-from-left"><a href="about.html">About</a></li>
  <li class="hvr-underline-from-left"><a href="resume.html">Resume</a></li>
  <li class="hvr-underline-from-left"><a href="work.html">Work</a></li>
  <li class="hvr-underline-from-left"><a href="contact.html">Contact</a></li>
</ul>
</header>

<h1>About Jennifer R Christie</h1>
<p id="aboutme">
HI! I am a Full Stack Developer, part-time Broadway Aficionado,  and Classic Cinema Buff! When I'm not coding I like to read, mostly fiction, and I just started taking a liking to historical fiction. Having an unconventional background, majoring in Fashion Studies and then obtaining my certification in Graphic Design, these experiences have taught me one thing, the importance of hard work, dedication, and team-work. <br><br>
"Life is to be enjoyed, not endured." - Gordon B. Hinckle
</p>

<h3>Skills:</h3>
 <ul class="skills">
    <li>html/css</li>
    <li>javascript</li>
    <li>ruby</li><br>
    <li>express js</li>
    <li>ruby on rails</li>
    <li>jquery</li>
    <li>postgresql</li><br>
    <li>react</li>
    <li>node.js</li>
    <li>sinatra</li><br>
    <li>adobe illustrator</li>
    <li>adobe photoshop</li>
    <li>adobe indesign</li>
  </ul>


<footer>
  <p>Made with <span id="redheart">&hearts;</span></p>
</footer>
<script src="../scripts/script.js" type="text/javascript"></script>
</body>
</html>
