 html, body {
    margin:0;
    padding:0;
    /* height:100%; */
  }

body {
  margin: 0px;
  background-color: #FFF;
  background-image: url('../images/smokeeffect.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40px;
  background-attachment: fixed;
}

header {
  background-color: #FFF;
  padding-top: 10px;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
}

a, table, p, .skills li{
  font-family: 'Josefin Sans', sans-serif;
  text-transform: lowercase;
}

.workdescrip a, h1, h3, header ul{
  font-family: 'Josefin Slab', serif;
  text-transform: lowercase;
}

p.aboutme, h1, h3, ul.skills{
  text-shadow: 1px 0px 1px #fff;
}

h1{
  padding: 15px 0px 17px 88px;
  font-size: 32px;
  margin-left: 118px;
}

#redheart{
  color: #E63946;
}

h3{
  font-size: 23px;
  margin: 50px 0px 10px 0px;
}

.skills li{
  border-bottom: dotted 1px #9C84CC;
  font-size: 18px;
  display: inline-block;
  padding-bottom: 2px;
  margin: 0px 0px 16px 40px ;
}

h3, ul.skills{
  margin-left: -60px;
}

ul.skills{
  padding: 0px;
}

.skills, h3{
  text-align: center;
}

header li{
  display: inline;
}

header ul{
  font-size: 25px;
  margin: 0px;
  padding: 10px 0px;
  text-align: center;
  word-spacing: 136px;
}

header a{
  color: #000;
  padding: 0px 10px;
  font-size: 22px;
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  padding: 0 0 0 5px;
  margin: auto;

}

footer p{
  color: #000;
  text-align: center;
  margin: 0 10px 10px 0;
  padding-top: 5px;
  font-size: 13px;
  word-spacing: 2px;
}

table {
  color: #000;
  font-size: 21px;
  margin: 0 auto;
  margin-top: 150px;
}

td{
  border-bottom: #9C84CC 1px dotted;
  padding: 30px 50px 10px 50px;
  width: 200px;
  text-align: center;
}

table a{
  color: #000;
}

.myworkpic{
  width: 400px;
  height: 179px;
  /* overflow: hidden; */
  padding: 15px 0px;
  margin-bottom: 0px;
}

.myworkpic img{
  width: 100%;
}

.workdescrip a{
  font-size: 20px;
  text-align: center;
  color: #000;
  text-shadow: 2px 0.5px 8px #F3F0FF;
}

.workdescrip{
  text-align: center;
}

.workcouple{
  position: relative;
  float: left;
  margin: 50px 60px 0px 60px;
  left: 9%;
  width: 400px;
}

.indexcontainer{
  width: 100%;
  height: 100%;
  position: fixed;
  margin-top: -50px;
}

#mylogo{
  width: 40vw;
  height: auto;
  margin: auto;
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

p.aboutme{
  text-align: center;
  font-size: 20px;
  margin : 0px 392px 35px 282px;
}

.aboutwork{
  background-color: rgba(156, 132, 204, 0.9);
  color: #fff;
  padding: 9px 10px;
  text-align: center;
}

p.seperation{
margin: 0;
}

p.builtw{
  margin: 8px 0px -10px 0px;
}

p.skillsu{
margin: 0;
}

.empty{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 85%;

}

iframe{
  width:48%;
  height: 475px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.resume{
  height: 0px;
}

img.smalllogo{
  width: 17px;
}

/* thanks http://ianlunn.github.io/Hover/#effects */
.hvr-underline-from-left {
  display: inline;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #000;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

/* thanks again http://ianlunn.github.io/Hover/#effects */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #9C84CC;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #fff;
  }
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-sweep-to-right a:hover{
  color: #fff;
}

a.hover-text{
  margin: 0;
}

/* http://ahrengot.com/tutorials/switching-text-with-css/ */
/* Hide original text */
.hover-text:hover {
  font-size: 0;
  text-align: center;
}

/* Replace original text with value in data-hover */
.hover-text:hover:before {
  font-size: 21px;
  color: #fff;
  text-align: center;
  content: attr(data-hover);
  padding: 30px 50px 10px 0px;
}

@media only screen and (min-width: 801px) and (max-width: 1050px) {

  body{
    background-position: -133px 0px;

  }

}

@media only screen and (min-width: 801px) and (max-width: 1050px) {

  .workcouple{
  position: relative;
  float: left;
  margin: 0px 60px auto auto;
  /* left: 9%; */
  width: 400px;
  transform: translate(0%, 18%)
  }

  table{
    margin: 170px 2px 2px 514px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 800px) {
  body{
    background-position: 0 0;
  }

  footer{
    background-color: #fff;
  }

  header{
    text-align: center;
    width: 100%;
  }

  header a{
    /* font-size: 18px; */
    font-size: 60%;
    }

  header ul{
    display: inline;
    word-spacing: 40px;
    font-size: px;
  }

  p.aboutme {
    text-align: center;
    font-size: 20px;
    margin: 0px 60px 35px 302px;
  }

  h1 {
    padding: 71px 0px 28px 88px;
    font-size: 32px;
    margin-left: -36px;
  }

  h3{
    margin: 178px 0 0 9px;
  }

  ul.skills{
    margin: 50px 60px 35px 230px;
  }

  iframe{
    width: 512px;
    height: 712px;
  }

  iframe{
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .workcouple{
    margin: 30px 0px;
    position: relative;
    top: 50%;
    left: 25%;
  /*   transform: translate(-50%, -50%); */
  }

  .myworkpic{
  width: 390px;
  height: 170px;
  overflow: hidden;
  padding: 15px 0px;
  margin-bottom: 10px;
}

  .myworkpic img{
    width: 100%;
  }

  .workdescrip a{
    font-size: 20px;
    text-align: center;
    color: #000;
    text-shadow: 2px 0.5px 8px #F3F0FF;
  }

  .workdescrip{
    text-align: center;
  }

  .aboutwork{
    width: 390px;
    padding: 0;
    margin-top: -10px;
  }

  .seperation{
    padding: 3px 8px;
  }

  .skillsu{
    padding-bottom: 9px;
  }

  table{
    margin: 114px 2px 2px 380px;
  }

  .empty{
    height: 65%;
    width: 100%;
    position: absolute;
  }

}


@media only screen and (max-width: 480px) {
    body{
    background-position: 0 center;
  }

  header{
    text-align: center;
    width: 100%;
    padding-bottom: 7px;
  }

  header a{
    /* font-size: 18px; */
    font-size: 60%;
    }

  header ul{
    display: inline;
    word-spacing: 0px;
  }

  footer{
    background-color: #fff;
  }

  a.hover-text{
  /* color: white; */
  }
  h1{
    padding: 0;
    font-size: 23px;
    margin: 21px 0 0 11px;
  }

  p.aboutme{
    margin: 0 auto;
    width: 83.33%;
    font-size: 15px;
    margin-top: 26px;
  }

  h3{
    margin: 10px 0 0 11px;
    text-align: left;
    font-size: 23px
  /*   position: absolute; */
    /* left: 20px; */
    /* margin-top: 23px; */
    font-size: 23px
  }

  br{
    display: none;
  }

  .skills{
    margin: 0;
    font-size: 15px;
    margin-top: 45px;
    position: absolute;
    left: 50%;
    transform: translate( -50%, 0);
  }

  .skills li{
    margin: 0;
    font-size: 15px;
    display: block;
    width: 120px;
    margin: 3px 0;
  }

  ul.skills{
    margin: 0 auto;
    margin: 12px 0 0 0;
    text-align: center;
  }

   table{
/*     display: block;
    margin: 0; */
    position: relative;
    right: 50%;
    left: -1%;
    margin-top: 18vh;
  }

  td{
    width: 160px;
    font-size: 15px;
  }

  a.hover-text:hover:before {
    font-size: 15px;
    text-align: center;
  }

  iframe{
    display: none;
  }

  img.resume{
/*     height: 90%;
    width: 70%;
    display: block;
    margin: 15% auto 0 auto;
    border: 1px solid #C7C7C7; */

    top: 50%;  /* IMPORTANT */
    left: 50%;/*  IMPORTANT */
    display: block;
    position: relative;
    width: 75%;
    height: 44%;
    margin-left: -37.5%; /* HALF OF THE WIDT */H
    margin-top: 16%;
    margin-top: 22%;
    border: 1px solid #C7C7C7;
  }

  .myworkpic, .aboutwork{
    width: 83.33%;
  }

 .myworkpic{
    margin: 0 0 -4px 0;
    padding: 0;
    height: auto;
  }

   .myworkpic img{
    width: 100%;
    height: 100%
  }

  .aboutwork{
    padding: 0;
  }

  .empty{
    position: relative;
    margin-bottom: 1052px;
    top: 0;
  }

  .workdescrip a{
    font-size: 15px;
  }

  .workdescrip{
    text-align: left;
    padding-bottom: 12px;
  }

  .workcouple{
    top: 50%; /* IMPORTANT */
    left: 50%; /* IMPORTANT */
    display: block;
    position: relative;
    width: 83.33%;
    margin-left: -33.66%; /* HALF OF THE WIDTH */
  }

    .seperation{
      padding: 8px 7px 0 7px;
  }

    .skillsu{
      padding-bottom: 8px;
    }

    .container{
      min-height: 100vh;
      margin-bottom: 10%;
      position: relative;
      background-color: pink;
    }

  }

  @media only screen and (max-width: 340px) {

    img.resume{
      /* margin: auto 0; */
      height: 250px;
      width: auto;
      top: 50%;
      left: 50%;
      margin-left: -99px;
      margin-top: 23px;
    }

  }
